.btn {
    padding: 16px 64px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    outline-offset: 4px;
    background: linear-gradient(
      to top,
      hsl(260deg 80% 40%),
      hsl(260deg 80% 50%)
    );
    transition: filter 600ms;
  }

  .btn:hover, .btn:focus {
    transition: filter 250ms;
    filter: brightness(150%);
  }