
.wrapper {
    display: grid;
   gap:12px;
}

.content-wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(238, 229, 229);
    padding: 12px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #848684;
}

h1 {
    text-align: center;
}