.modal {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 24px;
    display: block;
    background: white;
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-radius: 1rem;
}

.modal-footer  a{
    color: blue;
    text-decoration: underline;
    padding: 8px;
}